<div class="drum-component">
    <div class="drum-component__key-list">
        <div
        [class]="item.isPlaying ? 'drum-component__key-item drum-component__key-item--playing' : 'drum-component__key-item'"
        (transitionend)="item.isPlaying = false"
        *ngFor="let item of allKeys">
            <kbd>{{item.title}}</kbd>
            <span class="drum-component__key-item-description">{{item.text}}</span>
        </div>
    </div>

    <audio src="assets/sounds/clap.wav"></audio>
    <audio src="assets/sounds/hihat.wav"></audio>
    <audio src="assets/sounds/kick.wav"></audio>
    <audio src="assets/sounds/openhat.wav"></audio>
    <audio src="assets/sounds/boom.wav"></audio>
    <audio src="assets/sounds/ride.wav"></audio>
    <audio src="assets/sounds/snare.wav"></audio>
    <audio src="assets/sounds/tom.wav"></audio>
    <audio src="assets/sounds/tink.wav"></audio>
</div>
