<div>
    <mat-toolbar color="primary" class="mat-elevation-z8 app-component">
        <a routerLink="/" class="app-component__link"><span>JavaScript 30 days</span></a>

        <span class="app-component__spacer"></span>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>info</mat-icon>
        </button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
        <a
            *ngFor="let item of projects"
            routerLink="{{item.routerLink}}">
            <button mat-menu-item>{{item.title}}</button>
        </a>
    </mat-menu>

    <router-outlet></router-outlet>


</div>