/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

body
  margin 0
  font-family Roboto, sans-serif
  background url("/assets/background.jpg") no-repeat center fixed
  background-size cover

.app-component
  justify-content space-between
  &__spacer
    flex 1 1 auto
  &__link
    color: white

a
  text-decoration none
