<mat-grid-list class="home-component" cols="4">
    <mat-grid-tile
            *ngFor="let card of allCards"
    >
        <mat-card class="home-component__card">
            <a routerLink="{{card.routerLink}}">
                <img mat-card-image src="assets/{{card.preview}}"
                     alt="{{card.title}}">
            </a>
            <mat-card-content>
                <p>{{card.description}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>